<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="API"></Label>
</ActionBar>

<FlexBoxLayout justifyContent="center" flexDirection="column" alignItems="stretch" width="400" height="300" background="white" style="border-radius: 40%;">
    <TextField hint="Enter a valid city-name" [text]="name" style="font-size : 20 ;" (textChange)="onTextChange($event)"  width="250" height="50" color="black"></TextField>
    <Button text="Get Weather" (tap)="onTap()" width="200" style="border-radius: 50%;"></Button>
</FlexBoxLayout>
